.carousel{'data-flickity' => '{ "cellAlign": "left", "contain": true, "cellSelector": ".carousel-cell", "setGallerySize": false, "autoPlay": 5000, "pauseAutoPlayOnHover": false }'}
  - @pictures.each do |picture|
    .carousel-cell
      %img{src: picture.images.standard_resolution.url}