.carousel {
  height: 100%;

  .carousel-cell {
    height: 100%;
    min-width: 100vw;

    img {
      
      max-width: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }

  .flickity-page-dots {
    bottom: 10px;
  }
}

